<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogFile="C:/log/NLogInternal.log"
      internalLogLevel="Error" autoReload="true">
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets async="true">
    <target name="FileText"
            type="File"
            fileName="c:/log/log.txt"
            createDirs="true"
            layout="${date} ${level:uppercase=true} ${logger} ${message} ${onexception:inner=${newline}${exception:format=tostring}}" />
 
    <target xsi:type="Null" name="blackhole" />
  </targets>

  <rules>
    <logger name="*" minLevel="Error" writeTo="FileText"/>
  </rules>
</nlog>
